export ANSIBLE_VAULT_PASSWORD_FILE="$PWD/.vault_pass"
export JUST_EXPLAIN=true

# For CI force the Ansible Vault password from environment variable
if [ -n "$ANSIBLE_VAULT_PASSWORD" ]; then
  echo "$ANSIBLE_VAULT_PASSWORD" > "$ANSIBLE_VAULT_PASSWORD_FILE"
fi

# For CI force the Ansible Vault password from environment variable
if [ -z "$PUSH_PASSWORD" ]; then
  export PUSH_PASSWORD=$(sg onepassword-cli -c "op read op://Personal/z3vpx7uw3ec4mxrxwmdrolvfmq/token")
fi
