export JUST_EXPLAIN=true

# Ansible vault password
export VAULT_PASSWORD=${VAULT_PASSWORD:-$(sg onepassword-cli -c "op read op://Personal/hfwwfdimpvglmjnb2wrbqlx3mq/password")}

# Container registry push password
export PUSH_PASSWORD=${PUSH_PASSWORD:-$(sg onepassword-cli -c "op read op://Personal/z3vpx7uw3ec4mxrxwmdrolvfmq/token")}

# Ansible needs the the password to be in a file
export ANSIBLE_VAULT_PASSWORD_FILE="$PWD/.vault_pass"
echo -n "$VAULT_PASSWORD" > "$ANSIBLE_VAULT_PASSWORD_FILE"
