---
repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: Containerfile
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: check-yaml

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        language_version: 1.25.4
