name: workstation

on:
  pull_request:
  schedule:
    - cron: '0 7 * * *'  # runs daily at 02:00 UTC

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    env:
      SKIP: generate-containerfile
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1

  container:
    runs-on: ubuntu-latest

    container:
      image: quay.io/testing-farm/cli:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Mark repo as safe, needed for Testing Farm git auto-detection to work
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Run testing-farm (pull request)
        env:
          TESTING_FARM_API_TOKEN: ${{ secrets.TESTING_FARM_API_TOKEN }}
        if: github.event_name == 'pull_request'
        run: |
          echo "Running testing-farm"
          testing-farm request -e IMAGE_TAG=${GITHUB_HEAD_REF} --plan /ci/build

      - name: Run testing-farm (pull request)
        env:
          TESTING_FARM_API_TOKEN: ${{ secrets.TESTING_FARM_API_TOKEN }}
        if: github.event_name == 'schedule'
        run: |
          echo "Running testing-farm with IMAGE_TAG=$IMAGE_TAG"
          testing-farm request --plan /build
